.section-task {
  margin: 32px auto;
  width: 100%;
  max-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  outline: none;
  font-size: 20px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  input {
    font-size: 24px;
    width: 100%;
    overflow-y: hidden;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px 8px;
    outline: transparent;
    &:focus {
      border: 2px solid #062ffc;
    }
  }
}

fieldset {
  display: flex;
  justify-content: space-around;
  border: 1px solid #696969;
  box-shadow: 0px 0px 2px #696969;
  legend {
    text-align: left;
  }
  label {
    position: relative;
    input {
      position: absolute;
      left: -55px;
      top: 7px;
    }
  }
}
button {
  font-size: inherit;
  padding: 4px;
  border-radius: 4px;
  outline: transparent;
  border: 2px solid #707070;
  box-sizing: border-box;
  background-color: #e9e9e9;
  transition: background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    background-color: #e0e0e0;
  }
}
